<div class="container">
  <form action="/users/login" method="post">
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h2 class="text-center">Login</h2>
          {{> message}}
          <div>
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required>
          </div>
          <div class="my-4">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password"
              required>
          </div>
          <button type="submit" class="btn btn-outline-dark btn-block">Login</button>
          <a href="/auth/facebook" class="btn btn-primary btn-block">Facebook</a>
          <p class="mt-2">
            No account ? <a href="/users/register">Sign in</a>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>